<footer class="text-white" style="background-color:#04a776;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h3 class="text-uppercase mb-4" style="color:#00FFAB;">Get In touch</h3>
  
          <h4 style="color:#E3FCBF;font-style: italic;">
            We cab ensure reliability, low cost fares and most important, with safety and comfort in mind.
          </h4>
  <br>
          <h5>
            Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias.Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias.
          </h5>

          <div class="social-icon mt-4">
            <!-- Facebook -->
            <a type="button" class="btn"><i class="fab fa-facebook"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn"><i class="fab fa-dribbble"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn"><i class="fab fa-twitter"></i></a>
            <!-- Google + -->
            <a type="button" class="btn"><i class="fab fa-google-plus-g"></i></a>
            <!-- Linkedin -->
          </div>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h3>Call Us</h3>
          <ul class="callus">
            <li>+91 8828358360</li>
            <li>+91 8088745948</li>
          </ul>
<br>
          <h3>Location</h3>
          <h5>121, Rock street, 21 Avenue, New York, NY 92103-9000</h5>
<br>
          <h3>Our Top Services</h3>
         <ul class="callus">
            <li>Local Transfers</li>
            <li>Airport Transfers</li>
            <li>Tours and Travels</li>
         </ul>
        </div>
         
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <br>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter Your Name">
                  </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Enter your email">
                </div>
                <div class="form-group">
                  <textarea  rows="8" type="text" class="form-control"  placeholder="Enter Feedback"></textarea>
                </div>
                <button type="submit" class="btn" style="background-color:#11fdaf">Submit</button>
              </form>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="http://localhost:4200/home">ResponsiveWebsite.com</a>
    </div>
    <!-- Copyright -->
  </footer>