<div class="container" style="text-align:center;margin-bottom: 3rem;">
    <h5 style="margin-top:3rem;color:#1dc593">Features</h5>
    <h1 style="color:#06815c;margin-top:1rem;">Our Features & Services</h1>
  
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/communication.jpg" alt="Jane" style="width:100%;height:15rem;">
        <div class="container">
          <h2>Communications</h2>
          <br>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <br>
          <p><button class="button">MORE</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/Happycustomer.jpg" alt="Mike" style="width:100%;height:15rem;">
        <div class="container">
          <h2>Inspired design</h2>
          <br>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <br>
          <p><button class="button">MORE</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="assets/InspiredDesign.jpg" alt="John" style="width:100%;height:15rem;">
        <div class="container">
          <h2>Happy customer</h2>
          <br>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <br>
          <p><button class="button">MORE</button></p>
        </div>
      </div>
    </div>
  </div>
</div>