<div class="container" style="background-color:#B8F1B0;margin-bottom:4rem;">
    <div class="row">
        <div class="col-md-6">
            <h1 style="margin-top:4rem;color:#0b9b70;">About <br>Us</h1>
            <br>
            <p style="color:rgb(4, 97, 66);font-size:1.2rem;font-weight: 500;">To use the Angular router, an application needs to have at least two components 
                so that it can navigate from one to the other. To create a component using the CLI,
                 enter the following at the command line where first is the name of your component.
                 To use the Angular router, an application needs to have at least two components so 
                 that it can navigate from one to the other.
                 <br>
                 <br> To create a component using the CLI,
                  enter the following at the command line where first is the name of your component.
                  To use the Angular router, an application needs to have at least two components so
                   that it can navigate from one to the other. To create a component using the CLI,
                    enter the following at the command line where first is the name of your component.
                    To use the Angular router, an application needs to have at least two components so
                     that it can navigate from one to the other. To create a component using the CLI, 
                     enter the following at the command line where first is the name of your component.</p>
        </div>
        <div class="col-md-6" style="text-align:center;">
            <img src="assets/Avatar.png" alt="profilepic">
            <br>
            <h2 style="margin-top:3rem;">I help companies tincidunt <br>tortor aliquam nulla facilisi cras fermenaunt audo.</h2>

            <button class="btn" style="background-color:#14C38E;color:white;text-align:center;width:15rem;height:3rem;margin-bottom:4rem;margin-top:3rem;"><i class="fa-brands fa-linkedin"></i> &nbsp;Find Me On LinkedIn</button>
        </div>
    </div>
</div>

<div class="container" >
    <div class="row" style="border-radius:1rem;background-color:white;margin-bottom:3rem;margin-top:4rem;padding:1rem;">
        <h1>Download It now.</h1>
        <button class="btn" style="width:15rem;margin-left:4rem;margin-right:2rem;background-color:#14C38E;color:white;font-weight: 500;"><i class="fa-brands fa-app-store-ios"></i>&nbsp; App Store</button>
        <button class="btn" style="width:15rem;background-color:#14C38E;color:white;font-weight: 500;"><i class="fa-brands fa-google-play"></i> &nbsp; Google Play</button>
    </div>
</div>
