<div class="container">
    <div class="row">
       <div class="col-md-6 p-5">
       <h4 style="margin-top:4rem;color:rgb(185, 184, 184)">ABOUT US</h4>
       <h1 style="margin-top:2rem;">1000+ Customer using our application.</h1>
    <br>
       <h4><i class="fa fa-play"></i>&nbsp;&nbsp;Powerful and flexiable theme</h4>
       <h4><i class="fa fa-play"></i>&nbsp;&nbsp;Simple transperent pricing</h4>
       <h4><i class="fa fa-play"></i>&nbsp;&nbsp;Buil tools and full documentation</h4>
<br>
       <button class="btn btn-lg btn-primary">Read More</button>
       </div>

       <div class="col-md-6 p-5" style="background-color:#E3FCBF;">
        <img src="assets/mobile.png">
        </div>
    </div>

    <div class="container-flow" style="text-align:center;">
       <h2 style="font-size:3.5rem;color:#14C38E;margin-top:8rem;">Quick & Easy Process</h2>
       <h5 style="margin-top:3rem;">Angular is a platform and framework for building single-page client applications using HTML 
        and TypeScript. Angular is written in TypeScript. It implements core and optional functionality
         as a set of TypeScript libraries that you import into your applications.</h5>

         <br>
         <button class="btn" style="background-color:#14C38E;color:white;text-align:center;width:15rem;height:3rem;margin-bottom:4rem;">Load More</button>
    </div>

</div>
